body {
  background-color: #5a80cc;
}
.gameResult {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: 700;
  padding: 36px;
  border-radius: 16px;
  color: white;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.playButton {
  background-color: #cfa44e;
  font-family: monospace;
  width: 15%;
  height: 15%;
  border-radius: 100%;
  border: white;
  border-style: solid;
  border-width: 0.2rem;
  padding: 12px;
  flex: 1 1 0;
}

button:hover {
  background-color: #ecb84f;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

button:active {
  background-color: #9a6e15;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.title {
  text-align: center;
  color: white;
  font-weight: 700;
  font-size: 32px;
  font-family: "Courier New", Courier, monospace;
  margin: 0px;
  padding: 0px;
}

#mainWindow {
  background-color: #cfa44e;
  width: 50%;
  height: 40%;
  padding: 24px;
  border: white;
  border-style: solid;
  border-width: 0.2rem;
  border-radius: 25px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-shrink 0;
}

#playerWindow {
  margin-top: 50px;
  gap: 40px;
  display: flex;
  align-items: center;
}

.gameWindow {
  border-color: white;
  height: fit-content;
  background-color: #5a80cc;
  gap: 25px;
  border-radius: 16px;
  padding: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

i {
  color: white;
  font-size: 100px;
}

.scoreboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

span {
  color: white;
}

.resetButton {
  justify-content: center;
  background-color: black;
  color: white;
  font-weight: 700;
  width: 50%;
  height: 30%;
  border-radius: 0%;
  border: white;
  border-style: solid;
  border-width: 0.2rem;
  padding: 12px;
  margin-bottom: 2%;
}
